@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home-image-top {
  height: 95vh;
  background-image: url(./images/primaryColorImage.png);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%);
}

.email-search-top {
  border: 1px solid #fff;
  border-radius: 7px;
}

.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
/* Form wrapper styling */

.search-wrapper {
  /* width: 450px;
  margin: 150px auto 50px auto; */
  border-radius: 40px;
  background: transparent;
}

/* Form text input */

.search-wrapper input {
  width: 330px;
  height: 50px;
  padding: 10px 5px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background: #26368f;
}

.search-wrapper input:focus {
  outline: 0;
  color: #fff;

  background: #26368f;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #fff;
  font-weight: normal;
  padding-left: 20px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  position: relative;
  float: right;
  border: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  /* height: 40px;
  width: 110px; */
  font: 13px;
  color: #000000;
  background: #01fab3;
  border-radius: 10px;
  font-weight: 500;
}

.search-wrapper button:hover {
  /*     background: #e54040; */
}

.search-wrapper button:active,
.search-wrapper button:focus {
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #f07575; /* Fallback color if gradients are not supported */
  background-position: center right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 20px;
  background: #26368f;
}

.top-nav-link {
  text-decoration: none;
  color: #01fab3;
  margin-left: 20px;
}

.hr-top-nav {
  color: #fff !important;
}

.nav-item-left {
  margin-left: auto;
}

.nav-custom-classes {
  background: #26368f !important;
  color: #fff !important;
}

.nav-top-button {
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  /* height: 40px;
  width: 110px; */
  font: 13px;
  color: #000000;
  background: #01fab3;
  border-radius: 7px;
  font-weight: 500;
}
